.nav-img {
    cursor: pointer;
    margin-top: .3rem;
    width: 50px;
}

.person-center {
    cursor: pointer;
}

a.person-center:hover {
    color: #007bff;
}

.none {
    display: none;
}

.head-box {
    border-bottom: 1px solid #E9E9E2;
    margin-bottom: .5rem;
}
@media only screen and (max-width: 768px) {
    .hidden {
        display: none;
    }
    /*.form-control-overrite{*/
        /*display: inline-block;*/
        /*width: 75%;*/
        /*margin: .5rem .2rem;*/
    /*}*/
    /*.search-button {*/
        /*width: 12%;*/
        /*margin: .5rem .2rem;*/
    /*}*/
}